<base-template name="_templates/base/angular_include_template"></base-template>
<cache timeout="0"></cache>

<div id="seatPlanContainer" class="seatPlanContainer">
	<div id="seatPlanScroller" class="seatPlanScroller">
		<canvas id="seatPlanCanvas" class="seatPlanCanvas" width="800" height="400"></canvas>
	</div>
	<div class="seatPlanScrollerControls" ng-if="seatplan_options.zoomControls">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="setZoom(-1)" ng-disabled="seatplan_options.gridZoom == 1"><i class="fa fa-minus"></i></button>
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="setZoom(1)" ng-disabled="seatplan_options.gridZoom == seatplan_options.maxGridZoom"><i class="fa fa-plus"></i></button>
		</div>
		<div class="btn-group pull-right" ng-if="seatplan_options.gridZoom !== 1">
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="scrollSeatPlan(1)"><i class="fa fa-arrow-left"></i></button>
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="scrollSeatPlan(2)"><i class="fa fa-arrow-down"></i></button>
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="scrollSeatPlan(3)"><i class="fa fa-arrow-up"></i></button>
			<button type="button" class="btn btn-default" ng-class="{'btn-lg': seatplan_options.largeButtons}" ng-click="scrollSeatPlan(4)"><i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</div>
