<base-template name="_templates/base/angular_include_template"></base-template>

<div class="col-md-6">

	<div class="rc-form rc-form-edit">

		<div class="rc-form-heading">
			<i class="fa fa-bookmark"></i> $dict{general}
		</div>
		<div class="rc-form-body">

			<div class="rc-form-group">
				<div class="rc-form-prompt">$dict{site_name}</div>
				<div class="rc-form-data">
					<rc-select ng-model="tab.edit_entity.site_name" webservice="base/rc_sites/getSitesList" value="site_name" label="site_name" class="dataentry-data"></rc-select>
				</div>
			</div>
			<div class="rc-form-group">
				<div class="rc-form-prompt">$dict{user_role}</div>
				<div class="rc-form-data">
					<text type="textbox" rc-id="user_role_name" name="user_role_name" class="form-control dataentry-data" ng-model="tab.edit_entity.user_role_name"></text>
				</div>
			</div>
			<div class="rc-form-group">
				<div class="rc-form-prompt">$dict{default_role}</div>
				<div class="rc-form-data">
					<input type="checkbox" id="default_role" name="default_role" class="js-switch switchery-small" ui-switch="{size: 'small'}" ng-model="tab.edit_entity.default_role"/>
				</div>
			</div>

		</div>

	</div>

</div>

<div class="col-md-6">
	<div class="rc-form rc-form-edit">
		<part name="_templates/base/audit_info_edit"></part>
	</div>
</div>
